@font-face {
    font-family: "lato";
    src: url("../font/Lato-Regular.ttf");
}

* {
    font-family: "lato", sans-serif;
    margin: 0;
    padding: 0;
}

/* section header */

.parallax {
    background-image: url("../img/parallax1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header nav a {
    padding-right: .5rem;
    text-decoration: none;
    transition: all .3s;
}

header nav a:hover {
    background-color: blue;
}

header nav li {
    color: #A9A8AD;
}

header nav i {
    padding: 0 .5rem;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0 1rem;
}

#center {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

h1 {
    background-color: black;
    color: white;
    padding: 1rem 0;
    /*  width: fit-content; */
    font-weight: lighter;
    letter-spacing: 6px;
}

header input,
header button {
    border: none;
    background: none;
    margin-right: 1rem;
}

/* section 1 about */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#align p {
    margin-bottom: 2rem;
}

#align {
    width: 50%;
    text-align: center;
    color: #A9A8AD;
}

#align p:last-child {
    text-align: left;
}

.italic {
    font-style: italic;
}

#myName {
    width: 50%;
    display: flex;
    margin-top: 2rem;
    color: #A9A8AD;
    justify-content: space-around;
}

#myName figure {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#myName p {
    width: 48%
}

#myName figure Img {
    width: 100%;
}

#myName figcaption {
    margin-bottom: 2rem;
}

h3 {
    text-align: center;
    color: #A9A8AD;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: small;
}

/* fin de l'exercice FOAD 1*/

#progressBar {
    width: 50%;
    margin: 1rem auto;
    /* position: relative;
    left: -150%;
    transition: all 2s;
 */
}

#progressBar p {
    color: #A9A8AD;
    margin-bottom: 1rem;

}

.grey {
    height: 2rem;
    border: #F1F1F1 2px solid;
    background-color: #F1F1F1;
    width: 100%;
    margin-bottom: 1rem;
}

#photoBlack {
    height: 2rem;
    width: 90%;
    background-color: #616161;
}

#webBlack {
    height: 2rem;
    width: 85%;
    background-color: #616161;
}

#shopBlack {
    height: 2rem;
    width: 75%;
    background-color: #616161;
}

#photoBlack p,
#webBlack p,
#shopBlack p {
    text-align: center;
    padding: 0.4rem;
    color: white;
}

/* section portFolio */
#work {
    height: 5rem;
    border: #616161 2px solid;
    background-color: #616161;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#work p {
    color: white;
    display: inline-block;
    padding: 1.5rem;

}

.smallFont {
    font-size: 60%;
    font-weight: 100;
}

#portFolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.parallaxFolio {
    width: 100%;
    background-image: url("../img/parallax2.jpg");
    height: 40vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallaxFolio h2 {
    color: white;
    letter-spacing: 5px;
    font-weight: lighter;
}
#myWork{
    width: 100%;
    text-align: center;
/*     text-align: center;
    align-items: center; */
}

#myWork h2{
    color: #787882;
    font-weight: 300;
}
#myWork p{
    color: #787882;
    font-size: small;
    margin-bottom: 2rem;
}
#myImg{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}
.photos{
    width: 24%;
    margin-bottom: .5rem;
}
.photos img{
    width: 100%;
    margin: 0 auto;
}
 #load {
    width: 100%;
    text-align: center;
 }
#load button{
    background-color: #F1F1F1;
    color: black;
    padding: 1rem;
    border: none;
    /* margin: 0 auto; */
}
/* fin de l'exercice FOAD 2*/